{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}?{% now "U" %}>
    <title>Document</title>
</head>
<body>

    {% for i in itemyWKoszyku %}
    <div class="nazwa">{{i.nazwa}}</div>
    <div class="cena">{{i.cena}}</div>
    {% endfor %}
    <p>Całkowity koszt zamówienia</p>
    <div class="suma">{{suma}}</div>
  
 

    <div class="cart">
        <form action="" class="cart" method="POST">
        </form>
    </div>
</body>
</html>