{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}?{% now "U" %}>
    <title>Document</title>
</head>
<body>
    <div class="wrapperCart">
        
    {% include 'menu.html' %}
        <div class="Payment">
            <div class="SingleP1">
                    {% for i in itemyWKoszyku %}
                        <div class="nazwa">{{i.nazwa}}</div>
                        <div class="cena">{{i.cena}}</div>
                    {% endfor %}
             </div>  
            <div class="SingleP2">
                <p>Całkowity koszt zamówienia</p>
                <div class="suma">{{suma}}</div>
             </div>
            <div class="cart">
                <button class="btnCart"> <a href="">Przejdź do płatności</a></button>
            </div>
        </div>
    </div>  
    
    {% include 'footer.html' %}
</div>
</body>
</html>