{% load static %}
<footer>
            <div>
                <img src="/static/image/loko.PNG" alt="Logo firmy AmperWood" class="logoMain" height="70px">
            </div>
            <div class="footerInfo">
                <div class="newsletter">
                    <p>Zapisz się do Newslettera!</p>
                    <input type="Podaj maila">
                </div>
                <div class="underPages">
                    <p class="footerNavi"><a href="#">Polityka prywatności</a></p>
                    <p class="footerNavi"><a href="#">Koszty wysyłki</a></p>
                    <p class="footerNavi"><a href="#">blabla</a></p>
                    <p class="footerNavi"><a href="#">bla bla1</a></p>

                </div>
            </div>
        </footer>