{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}?{% now "U" %}>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
    {% include 'menu.html' %}
    <form action="register" method='POST'>
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="Imie"><br>
        <input type="text" name="last_name" placeholder="Nazwisko"><br>
        <input type="text" name="username" placeholder="Nazwa użytkownika"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password1" placeholder="Haslo"><br>
        <input type="password" name="password2" placeholder="Potwierdź hasło"><br>
        <input type="Submit">        

    </form>

    <div class="messagesAlert">
        <h3>
            {% for messages in messages%}
            {{ messages}}
            {% endfor %}
        </h3>
    </div>
</div>
    {% include 'footer.html' %}
</body>
</html>